body {
  background-color: #8cc461;
  overflow-x: hidden;
  margin: 0;
  cursor: default;
}

.top-main {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.top {
  border: 2px solid white;
  display: flex;
  justify-content: space-between;
  width: 50%;
  border-radius: 13px;
}

.top > ul {
  list-style: none;
  color: #ffffff;
  font-family: Roboto;
  font-size: 40px;
  font-weight: 600;
  line-height: 46.88px;
  letter-spacing: 0.1em;
  text-align: left;
  margin: 20px;
  padding: 10px;
}

.score {
  display: flex;
  justify-content: space-evenly;
  width: 40%;
  margin: 20px;
  padding: 10px;
  align-items: center;
  gap: 30px;
}

.compScore {
  width: 139px;
  height: 128px;
  top: 77px;
  left: 713px;
  gap: 0px;
  border-radius: 9px;
  opacity: 0px;
  background-color: #ffffff;
  color: #656565;
  font-family: Roboto;
  font-size: 17px;
  font-weight: 600;
  line-height: 8.92px;
  letter-spacing: 0.1em;
  text-align: left;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
}

.compScore > #count,
.yourScore > #count {
  font-family: Roboto;
  font-size: 45px;
  font-weight: 700;
  line-height: 1.69px;
  text-align: center;
  color: #252525;
}

.yourScore {
  width: 139px;
  height: 128px;
  top: 77px;
  left: 881px;
  gap: 0px;
  border-radius: 9px;
  opacity: 0px;
  background-color: #ffffff;
  color: #656565;
  font-family: Roboto;
  font-size: 17px;
  font-weight: 700;
  line-height: 8.92px;
  letter-spacing: 0.1em;
  text-align: left;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
}

.game-title {
  /* border: 2px solid red; */
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.game-info {
  /* border: 2px dashed yellow; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 40%;
  color: #ffffff;
  opacity: 0;
}

.game-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.triangle-cont {
  /* border: 2px solid red; */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
  width: 50%;
  position: relative;
}

#line3 {
  /* border: 2px solid red; */
  position: relative;
  top: 70px;
  left: 30px;
}

#line2 {
  /* border: 2px solid red; */
  position: relative;
  top: 70px;
  right: 30px;
}

.rock-container {
  background-color: #0074b6;
  height: 120px;
  width: 120px;
  border-radius: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: -1px 1px 11px 0px #00000059;
  position: absolute;
  /* left: 113px; */
  left: 32%;
}

.rock {
  background-color: #ffffff;
  box-shadow: 3px 0px 21px 1px #00000033 inset;
  width: 90px;
  height: 90px;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.rock > img {
  width: 80px;
  height: 58.51px;
  top: 351px;
  left: 492px;
  gap: 0px;
  opacity: 0px;
}

.paper-container {
  background-color: #ffa943;
  height: 120px;
  width: 120px;
  border-radius: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: -1px 1px 11px 0px #00000059;
  position: absolute;
  bottom: 50px;
}

.paper {
  background-color: #ffffff;
  box-shadow: 3px 0px 21px 1px #00000033 inset;
  width: 90px;
  height: 90px;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.paper > img {
  width: 72px;
  height: 72px;
  top: 552px;
  left: 614px;
  gap: 0px;
  opacity: 0px;
}

.scissor-container {
  background-color: #bd00ff;
  height: 120px;
  width: 120px;
  border-radius: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: -1px 1px 11px 0px #00000059;
  position: absolute;
  /* right: 113px; */
  right: 32%;
}

.scissors {
  background-color: #ffffff;
  box-shadow: 3px 0px 21px 1px #00000033 inset;
  width: 90px;
  height: 90px;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.scissors > img {
  width: 37px;
  height: 53.5px;
  top: 352px;
  left: 751.92px;
  gap: 0px;
  opacity: 0px;
  rotate: 5.27deg;
}

.btn-rules {
  float: right;
  position: relative;
  right: 35px;
  top: 90px;
  height: 35px;
  width: 119px;
  gap: 0px;
  border-radius: 10px;
  opacity: 0px;
  border: 2px solid #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-rules:hover {
  background: #004429;
  cursor: pointer;
}

.btn-rules:active {
  box-shadow: 10px 5px 5px white;
  transform: translateY(0.5rem);
}

.btn-rules > #btn-text {
  font-family: Roboto;
  font-size: 21px;
  font-weight: 500;
  line-height: 24.61px;
  letter-spacing: 0.1em;
  text-align: left;
  color: #ffffff;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.rules-popup {
  width: 330px;
  height: 397px;
  gap: 0px;
  position: absolute;
  bottom: 80px; 
  right: 0px;
  z-index: 1;
  display: none;
}

.rulesInfo {
  width: 278px;
  height: 350px;
  gap: 0px;
  border-radius: 13px 0px 13px 13px;
  background: #004429;
  border: 7px solid #ffffff;
  color: #ffffff;
  list-style-type: square;
  position: absolute;
  bottom: 0px;
  z-index: -1;
}

.close-icon {
  border: 2px solid red;
  background: #ff0000;
  width: fit-content;
  float: right;
  position: relative;
  top: 10px;
  right: 20px;
  height: 40px;
  width: 40px;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 5px solid white;
  cursor: pointer;
}

.close-icon > img {
  height: 25px;
  width: 20px;
  cursor: pointer;
}

#rules-info-container > h1 {
  font-family: Roboto;
  font-size: 29px;
  font-weight: 500;
  line-height: 33.98px;
  text-align: center;
  top: 25px;
  left: 61px;
  gap: 0px;
  opacity: 0px;
  cursor: default;
}

#rules-info-container > ul {
  font-family: Roboto;
  font-size: 13px;
  font-weight: 400;
  line-height: 18.23px;
  text-align: left;
  width: 211px;
  height: 27px;
  top: 80px;
  left: 46px;
  opacity: 0px;
  cursor: default;
}

#rules-info-container > ul {
  list-style: none;
  list-style-position: outside;

}

#rules-info-container > ul > li {
  margin-bottom: 15px;
}

#rules-info-container > ul li::before {
  content: "";
  display: inline-block;
  width: 6px;
  height: 6px;
  background-color: yellow;
  margin-right: 10px; 
}
